*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.focus{
    overflow: hidden;
    position: relative;
    width: 721px;
    height: 455px;
    margin: 100px auto;
}
.lunbo li{
    float: left;
}
.lunbo{
    position: absolute;
    width: 600%;
}
.focus-l,
.focus-r{

    display: none;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: black;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
    transform: translate(0,-50%);
    border-radius: 0 5px 5px 0; 
    opacity: .5;
    z-index: 2;
}
.focus-l:hover,
.focus-r:hover{
    color: #ccc;
    color: white;
}
.focus-r{
    right: 0;
    border-radius: 5px 0 0 5px; 
}
.circle{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.circle li{
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 3px;
    border-radius: 50%;
    border: 2px solid #ccc;
    
}
.current{
    background-color: white;
}